@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.anchor::after {
  @apply content-[''] transition-all absolute bottom-0 right-1/2 w-0 h-px bg-white;
}

.anchor:hover::after {
  @apply w-full right-0;
}

.gradient-text {
  background-color: white;
  background: linear-gradient(90deg, rgba(98, 98, 98, 0.7175245098039216) 0%, rgba(255, 255, 255, 1) 53%, rgba(98, 98, 98, 1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.gradient-background {
  background-image: linear-gradient(45deg, rgba(98, 98, 98, 0.2) 0%, rgba(255, 255, 255, 0.2) 53%, rgba(98, 98, 98, 0.2) 100%);
}

.hover-input:hover {
  box-shadow: 0 0 10px 2px #a78bfa;
}

.image-drop {
  filter: drop-shadow(0 0 3rem #a78bfa);
}

.input-focus:has(input:focus) {
  box-shadow: 0 0 10px 2px #a78bfa;
}

.button {
  @apply font-montserrat font-semibold text-white w-40 h-10 bg-indigo-700 rounded-xl transition-smooth;
  background-image: linear-gradient(45deg, rgba(98, 98, 98, 0.3) 0%, rgba(255, 255, 255, 0.3) 53%, rgba(98, 98, 98, 0.3) 100%);

  &:hover {
    box-shadow: 0 0 10px 2px #6b21a8;
  }
}

.toast div {
  @apply bg-indigo-300 text-white font-montserrat flex items-center justify-center text-center;
}
